<html lang="en">

<head>
    {{>headers}}
    < <title>Document</title>
</head>

<body style="background-color:rgb(241, 117, 117);">
    {{>navbar}}

    <div class="container-fluid mt-8 about-style" id="registerid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading" style="background-color:rgb(70, 9, 9);">HELLO!</h1>
                <p class="text-center sub-heading"> We welcome's you to your profile page..😄</p>

            </div>
        </div>
    </div>
</body>